/* -------------------------RESET---------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  text-align: center;
}

:root {
  font-size: 16px;
  --color-primary: #0e193f;
  --color-secondary: #ed740a;
  --color-terciary: #f7ceab;
  --color-white: #fcfcfc;
  font-family: "Roboto Mono", monospace;
  --logo-font: "Libre Barcode 128 Text", cursive;
  background-color: #fcfcfc;
  overflow-x: hidden;
}

.separator__text {
  width: 100%;
  background-color: var(--color-terciary);
  font-size: 0.37rem;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* .logo--container{
  text-align: start;
} */
.logo {
  font-family: var(--logo-font);
  font-size: 450%;
  margin: 1rem auto;
}
.banner_logo_link {
  text-decoration: none;
  color: var(--color-primary);
}
.user__wrapper {
  display: flex;
  justify-content: right;
}
.user {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  justify-content: right;
}
.user__icon {
  font-size: 2rem;
  padding: 1rem;
}
.banner_btn__logout {
  font-size: 0.8rem;
}

.banner_btn__logout:hover {
  color: var(--color-secondary) !important;
}
.user__register-login--container {
  display: flex;
  flex-direction: column;
}

.user-separator {
  padding: 0.5rem 0;
}

.user--register,
.user--login,
.link {
  text-decoration: none;
  color: var(--color-primary);
}

.user--register:hover,
.user--login:hover {
  color: var(--color-secondary);
}

.import {
  font-size: 0.3rem;
  text-align: left;
}

.orange {
  color: var(--color-secondary);
}

.navbar--wrapper {
  background-color: var(--color-secondary);
}
.nav__link {
  color: var(--color-primary);
}
.nav__link:hover {
  color: var(--color-white);
}

.hook__wrapper {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border--orange {
  border: 1px solid var(--color-terciary);
}

.hook__how__wrapper {
  align-items: center;
  margin: 3rem 0;
}
.hook__how__subtitle {
  font-size: 200%;
}

.logo_font {
  font-family: var(--logo-font);
}
.font--200 {
  font-size: 200%;
}
.hook__how__text {
  text-align: start;
  margin-top: 1rem;
}
.hook__how__img {
  /* max-width: 15rem;
  max-height: 15rem; */
  padding: 1rem;
}

.hook_how_list {
  text-decoration: underline;
}
.hook_how_list__item {
  margin: 0.5rem 0;
}
.hook__how__quote {
  margin: 1rem;
  padding: 0.5rem;
  background-color: black;
}

.latest--wrapper {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 3rem;
}

.latest__title {
  background-color: var(--color-primary);
  font-size: 160%;
  padding: 1rem;
  margin: 3rem auto;
  color: var(--color-white);
  display: flex;
  line-break: anywhere;
}

.latest__content {
  display: flex;
  background-color: var(--color-primary);
  justify-content: space-around;
  margin: 0 auto;
  padding: 3rem;
  overflow-x: auto;
}

.footer--wrapper {
  background-color: var(--color-primary);
  padding: 2rem;
  text-align: center;
}

.logo--footer {
  color: var(--color-white);
  margin-top: 3rem;
  font-size: 400%;
}
.footer__links {
  text-align: start;
  padding: 0.5rem;
  font-size: 0.8rem;
}
.footer__link {
  color: var(--color-white);
  margin-top: 1rem;
}

.footer__link:hover {
  color: var(--color-secondary);
}
.footer__col__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__user {
  color: var(--color-secondary);
}
.footer__register,
.footer__login {
  color: var(--color-white);
  font-size: 0.8rem;
}

.footer__register:hover,
.footer__login:hover {
  color: var(--color-secondary);
}

.text-white {
  color: var(--color-white);
}

.footer__user {
  flex-direction: column;
}

/* -----------About--------------- */
.about__us--wrapper {
  background-color: var(--color-primary);
}

.text-left {
  text-align: left;
}

.bg--primary {
  background-color: var(--color-primary);
}
.bg--secondary {
  background-color: var(--color-secondary);
}
.logo__about {
  font-size: 350%;
}

/* -------------------contact--------------- */
.contact__subtitle {
  font-size: 180%;
}

/* -------------------register/login--------------- */

.register__subtitle {
  font-size: 1.8rem;
  word-wrap: break-word;
}
.login_register__wrapper {
  background-color: var(--color-primary);
}

.hide {
  display: none;
}

.form__btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  
}

/* ----------------------PROFILE------------------ */
.profile__form{
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  padding:1.5rem 2rem 1.5rem 2rem ;
  overflow-x: hidden;
  
}
.profile__btn {
  border: 1px solid var(--color-white);
  
  
}
.form__col__wrapper_left{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem
}
.form__col__wrapper_right{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
}
.profile__btn:hover{
  background-color: var(--color-secondary);
  color: var(--color-white) !important;
}

.profile__random__img{
  display:flex; 
  flex-direction: column; 
  align-self: center;
  
}
.profile__form__content{
  background-color: var(--color-white);
}
/* .input_wrapper{
  background-color: var(--color-primary);
  border-radius: 0.5rem;
} */


.text--secondary{
  color: var(--color-secondary);
}
.bg--white{
  background-color: var(--color-white);
}



/* ------Order History-------- */
.oh_wrapper{
  overflow-x: hidden;
}

.oh__table{
  overflow-x: scroll;
}
